#id404{
    background-image: url("../../assets/digimon-1905689.webp");
    background-position: center center;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 40vh;
    padding-bottom:40vh;
    font-size: 100px;
}